
$primary-color: #9f224e;
$white-color: #fff;
$black-color: #000;
$grey-1-color: #bcbcbc;
$grey-color: #7c7c7c;
$light-grey-color: #f9f9f9;
$text-color: #111;
$border-color: #dbdbdb;
$header-height: 10vh;

$shadow-card-value: 0 20px 40px rgb(0 0 0 / 20%);
$shadow-card2-value: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
$shadow-border-value: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
