@import "./variables";
@import "./mixins";

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}
/* font-size 62.5% -> default font-size 16
 -> convert to rem unit (1rem = 10px) */
body {
    color: $text-color;
    font-family: "FiraSans", sans-serif;
}

#app {
    // overflow-y: hidden;
}

.img-content {
    margin: 1.3rem 0;
}

img {
    width: 100%;
    height: auto;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.center-element {
    text-align: center;
}
.primary-color {
    color: $primary-color;
}

/* Button Style */
.btn-f {
    text-decoration: none;
    outline: none;
    border: 0;
}

.primary-btn {
    background: $primary-color;
    color: $white-color;
    font-size: 1.4rem;
    font-weight: 550;
    border-radius: 50px;
    padding: 1rem 1.3rem;
    transition: all 0.4s ease;
}
.primary-btn:hover {
    background-color: $bg-black-color;
    text-decoration: none;
    color: $white-color;
    filter: brightness(125%);
}

.secondary-btn {
    display: inline-block;
    background: $text-color;
    color: $white-color;
    border-radius: 5px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    width: 100%;
    margin: 15px 0px 2px 0px;
    padding: 15px 20px;
    transition: all 0.4s ease;
}

.secondary-btn:hover {
    background-color: $primary-color;
    text-decoration: none;
    color: $white-color;
    filter: brightness(125%);
}

.third-btn {
    display: inline-block;
    width: 100%;
    background: $primary-color;
    color: $white-color;
    font-size: 1.5rem;
    font-weight: 550;
    margin: 15px 0px 2px 0px;
    padding: 12px 20px;
    border-radius: 5px;
    transition: all 0.4s ease;
}

.third-btn:hover {
    background-color: $white-color;
    color: $primary-color;
    border: 1px solid $primary-color;
    text-decoration: none;
}

.btn-sm {
    display: inline-block;
    font-weight: 550;
    font-size: 1.2rem;
    padding: 11px 22px;
}
