@import "./variables";
@import "./mixins";

#app {
    transition: margin-left 0.5s;
    position: relative;
}

.topbar {
    height: $topbar-height;
    background-color: $light-black-color;
    color: $white-color;

    &__info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 0;
        font-size: 1.3rem;
        font-weight: 550;

        span {
            margin-right: 10px;
        }
        i {
            color: $primary-color;
            margin-right: 3px;
        }
    }

    &__social {
        display: flex;
        list-style-type: none;
        justify-content: flex-end;
        align-items: center;
        padding: 10px 0;

        i {
            color: $light-grey-color;
            font-size: 1.5rem;
            margin-left: 1.5rem;
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1.2rem;
    position: fixed;
    top: 0;
    width: 100%;
    height: $header-height;
    z-index: 99;
    background-color: $white-color;
    box-shadow: $shadow-header-value;

    &__navbar {
        display: flex;
        align-items: center;
    }

    &__logo {
        img {
            width: 100%;
            max-width: 145px;
        }
    }

    /* Header Side Navbar */
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        background-color: $white-color;
        transition: 0.5s;
        padding-top: 2rem;
        box-shadow: 5px 0px 22px 0px rgba(0, 0, 0, 0.34);
        font-size: 1.5rem;

        &__list {
            margin-top: 3.4rem;
        }
        &__item {
            display: block;
            // transition: 0.3s;
            border-top: 1px solid $border-color;
            position: relative;
            font-weight: 550;

            .subnav {
                display: none;
                position: initial;
                top: 100%;
                left: 0;
                background-color: $light-grey-color;
                box-shadow: $shadow-header-value;
                list-style-type: none;
                &__item {
                    padding: 5px 0 0 1.4rem;
                    border-bottom: 1px solid $light-grey-color;
                    font-weight: 500;
                }
            }
            a {
                padding: 10px 30px 10px 25px;
                display: block;
                transition: 0.3s;
                text-decoration: none;
                color: $text-color;
            }
            a:hover {
                color: $primary-color;
            }
            i {
                font-size: 1.2rem;
                color: $grey-color;
            }
            .dropdown-btn {
                display: flex;
                justify-content: space-between;
            }
        }

        &__item:last-child {
            border-bottom: 1px solid $border-color;
        }
        .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
            color: $grey-color;
            text-decoration: none;
        }
    }
}
#sidenav-list {
    display: none;
}
#overlay-navbar {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(37, 37, 37, 0.307);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.main-content {
    padding-top: $header-height;
}

/* Slider - swiper */
.swiper {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: $white-color;
    }
    .swiper-pagination-bullet-active {
        background-color: $white-color;
    }
}

.head__slider {
    img {
        display: block;
        width: 100%;
        height: 90vh;
        object-fit: cover;
    }
}

/* Client Carousel Style */
.swiper-slide-client {
    margin: 0;
    padding: 0;
    /* max-width: 280px; */
    height: auto;
    background-color: $white-color;
    border-radius: 5px;
    cursor: pointer;

    img {
        width: 100%;
        max-width: 150px;
        border-radius: 4px;
        height: auto;
        box-shadow: $shadow-border-value;
        transition: 0.4s background-color ease-out;
        border: 1px solid $border-color;
    }
    img:hover {
        /* box-shadow: var(--shadow-value); */
        background-color: $grey-1-color;
        transition: 0.4s background-color ease-in;
    }
}

/* Section Content */
.section-block {
    padding: 8rem 0px;
    background-color: $white-color;
}

.section-block-grey {
    padding: 4.3rem 0;
    background-color: #f9f9f9;
}

.section-block-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 90px 0;
    box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        span {
            color: $white-color;
        }
        h1 {
            color: $white-color;
            font-size: 4rem;
            text-align: center;
        }
        p {
            color: $white-color;
            font-size: 2.8rem;
        }
    }
}

.section-bg-scroll {
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    padding: 90px 0px 90px 0px;
    color: $white-color;
    box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.663);

    p {
        color: $white-color;
    }
}

.form-subscribe {
    &__email {
        padding: 15px 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: $white-color;
        color: $text-color;
        width: 100%;
        max-width: 200px;
        outline: none;
        border: 0;
        font-size: 1.4rem;
        font-weight: 500;
        display: inline-block;
    }
    &__btn {
        color: $white-color;
        background-color: $primary-color;
        padding: 15px 20px;
        border: 0;
        outline: none;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        font-size: 1.4rem;
        font-weight: 500;
        transition: all 0.3s;
    }
    &__btn:hover {
        background-color: $text-color;
    }
}

.section-block-carousel {
    padding: 1.3rem 0.5rem;
}

.section-heading {
    margin-bottom: 10px;
    font-size: 2.8rem;
    text-transform: capitalize;
    font-weight: 550;
    span {
        position: relative;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 200%;
        margin-bottom: 10px;
    }
    &__light-title {
        color: $white-color;
    }
    &__dark-title {
        color: $text-color;
    }
    &__primary-title {
        color: $primary-color;
    }
    h2 {
        position: relative;
        font-size: 3.5rem;
        font-weight: 550;
        line-height: 130%;
        margin-bottom: 10px;
    }
    p {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 160%;
        padding-top: 1rem;
        margin-bottom: 0px;
    }
    h4 {
        position: relative;
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 160%;
        margin-bottom: 10px;
    }
}

.section-heading-line {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background: $primary-color;
    border-radius: 25%;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 5px;
}

.section-heading-line-left {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background: $primary-color;
    border-radius: 25%;
    margin: -5px 0 20px;
}

/* Box Number Content */
.number-box {
    text-align: center;
    padding: 20px;
    margin: 15px 0px;
    background: $white-color;
    border-radius: 3px;

    &__line {
        content: "";
        border-bottom: 1px dashed $border-color;
        width: 100%;
        margin: 20px auto;
    }
    &__line::before {
        content: "";
        display: block;
        margin: auto;
        margin-bottom: -7.5px;
        height: 15px;
        width: 15px;
        border: 2px solid $primary-color;
        background: $white-color;
        border-radius: 50%;
    }
    h3 {
        line-height: 1;
        font-size: 4rem;
        font-weight: 200;
    }
    h4 {
        font-size: 1.6rem;
        font-weight: 400;
    }
    p {
        font-size: 1.2rem;
        color: $grey-color;
    }
}

/* Content block grey */
.content-text-grey {
    color: $text-grey-color;
    font-size: 1.7rem;
    line-height: 2;
    font-weight: 400;
    margin-bottom: 1rem;
}

.content-paragraph {
    color: $text-grey-color;
    font-size: 1.4rem;
    line-height: 1.9;
    margin: 1rem 0;
}

.section-list-content {
    li {
        list-style-type: none;
        font-size: 1.4rem;
        font-weight: 550;
        margin-top: 15px;
    }
    i {
        color: $primary-color;
        padding-right: 1rem;
    }
}

/* Card Info */
.card-info {
    position: relative;
    background: $white-color;
    border: 1px solid $border-color;
    border-radius: 5px;
    overflow: hidden;
    margin: 15px 0px;
    box-shadow: $shadow-card-value;

    &__content {
        position: relative;
        padding: 20px;
    }
    &__title {
        font-size: 2rem;
        color: $text-color;
    }
    &__title::before {
        content: "●";
        color: $primary-color;
        margin-right: 1rem;
        font-size: 1.4rem;
    }
    &__paragraph {
        font-size: 1.4rem;
        color: $text-grey-color;
    }
}

/* Package Section */
.package-section-heading h3 {
    font-size: 2.6rem;
}

.section-head-title {
    position: relative;
    background-color: $white-color;
    color: $white-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 35vh;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;

    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(17, 17, 17, 0.496);
    }
    h2 {
        color: $white-color;
        font-size: 3rem;
        text-align: center;
        font-weight: 550;
    }
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        list-style-type: none;
    }
    i {
        margin-left: 1rem;
    }
    &__content {
        z-index: 10;
    }
}

// Feature case
.card-block {
    background: $white-color;
    border: 1px solid $border-color;
    border-radius: 5px;
    overflow: hidden;
    margin: 2rem 0px;
    box-shadow: $shadow-card2-value;
    transition: box-shadow 0.3s;

    &__img {
        width: 100%;
    }
    &__content {
        padding: 1.8rem;
    }
    &__title {
        font-size: 2rem;
        font-weight: 500;
        color: $text-color;
    }
    &__title::after {
        content: "";
        display: block;
        height: 2px;
        width: 30%;
        background-color: $primary-color;
        margin: 2rem 0;
        border-radius: 3px;
    }
    &__para {
        font-size: 1.5rem;
        color: $text-grey-color;
        margin: 1rem 0;
    }
    &__link {
        font-size: 1.7rem;
        color: $primary-color;
        font-weight: 500;
        display: inline-flex;
        align-items: center;

        i {
            font-size: 1.8rem;
            margin-left: 1rem;
        }
    }
    &__link:hover {
        text-decoration: none;
        color: $text-color;
    }
}
.card-block:hover {
    box-shadow: $shadow-card-value;
}

/* bottom content */
.bottom-content {
    &__title {
        font-size: 1.7rem;
        font-weight: 550;
        margin: 0 0 2rem;
    }
    &__control {
        margin-top: 2rem;
        text-align: center;
    }
    &__button {
        font-size: 1.2rem;
        font-weight: 500;
        padding: 1.2rem 2.2rem;
    }
}

/* Footer Style */
.footer {
    background-color: $text-color;
    color: $white-color;
    padding: 2rem 0 1rem;
    &__title {
        font-size: 2.3rem;
        line-height: 1.1;
        margin-top: 2.5rem;
    }
    &__title::after {
        content: "";
        display: block;
        width: 20%;
        height: 2px;
        background: $primary-color;
        margin-top: 1rem;
    }
    &__logo-img {
        width: 100%;
        max-width: 160px;
    }
    &__detail-text {
        margin: 1rem 0;
        font-size: 1.2rem;
    }
    &__list {
        padding: 0;
        margin: 0;
        i {
            margin-right: 1rem;
        }
        li {
            margin: 1.2rem 0;
            list-style-type: none;
        }
        a {
            color: $grey-1-color;
            font-size: 1.8rem;
            text-decoration: none;
        }
    }

    /* Footer Recent */
    &__recent {
        list-style-type: none;
        padding: 0;
        li {
            display: flex;
            margin: 1.2rem 0;
        }
        img {
            max-width: 100%;
            width: 75px;
            height: auto;
            margin-right: 1rem;
            border-radius: 2px;
        }
    }
    .recent-post {
        display: flex;
        flex-direction: column;

        &__date {
            color: $grey-1-color;
        }

        &__text {
            text-decoration: none;
            color: $light-grey-color;
        }
    }

    &__bottom-bar {
        border-top: 1px solid rgb(249 249 249 / 20%);
        padding-top: 2rem;
        margin: 2rem 0 0;
        font-size: 1.5rem;
    }
}