$primary-color: #9f224e;
$white-color: #fff;
$black-color: #000;
$light-black-color: #2a2a2a;
$grey-color: #666;
$grey-md-color: #999;
$grey-1-color: #d3d3d3;
$light-grey-color: #f9f9f9;
$text-color: #111;
$text-grey-color: #aaa;
$gold-color: #ffd700;
$border-color: #ececec;

$bg-black-color: #111;
$bg-grey-color: #d4c3c31a;
$swipe-tab-color: #757575;
$swipe-active-tab-color: #000;
$header-height: 10vh;
$topbar-height: 40px;

$shadow-card-value: 0px 10px 30px 0px rgb(50 50 50 / 16%);
$shadow-card2-value: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
$shadow-border-value: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
$shadow-header-value: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

:root {
    --primary-color: #{$primary-color};
    --text-color-dark: #{$text-color};
    --text-color-light: #{$white-color};
}