* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Fira Sans", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* font-size 62.5% -> convert rem unit (1rem = 10px) */
.img-content {
  margin: 1.3rem 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* Responsive */
.grid__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

/* Button Style */
.primary-btn {
  background: #9f224e;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 550;
  border-radius: 50px;
  padding: 1rem 1.3rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-decoration: none;
}

.secondary-btn {
  display: inline-block;
  background: #111;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  margin: 15px 0px 2px 0px;
  padding: 15px 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-decoration: none;
}

.btn-sm {
  display: inline-block;
  font-weight: 550;
  font-size: 1.2rem;
  padding: 11px 22px;
}

/* Footer Style */
.footer {
  background-color: #111;
  color: #fff;
  padding: 3rem 1.5rem;
  /* Footer Recent */
}
.footer__title {
  font-size: 2.3rem;
  line-height: 1.1;
  margin-top: 2.5rem;
}
.footer__title::after {
  content: "";
  display: block;
  width: 20%;
  height: 2px;
  background: #9f224e;
  margin-top: 1rem;
}
.footer__logo-img {
  width: 100%;
  max-width: 160px;
}
.footer__detail-text {
  margin: 1rem 0;
  font-size: 1.2rem;
}
.footer__list {
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
}
.footer__list i {
  margin-right: 1rem;
}
.footer__list li {
  margin: 1.2rem 0;
  list-style-type: none;
}
.footer__list a {
  color: #bcbcbc;
  font-size: 1.8rem;
  text-decoration: none;
}
.footer__recent {
  list-style-type: none;
  padding: 0;
}
.footer__recent li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.2rem 0;
}
.footer__recent img {
  max-width: 100%;
  width: 75px;
  height: auto;
  margin-right: 1rem;
}
.footer .recent-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .recent-post span {
  color: #bcbcbc;
}
.footer .recent-post a {
  text-decoration: none;
  color: #f9f9f9;
}

body {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  position: relative;
  color: #111;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 1.2rem;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  z-index: 101;
  background-color: #fff;
  -webkit-box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
          box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  /* Side Navbar */
}
.header__logo img {
  width: 100%;
  max-width: 180px;
}
.header .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 2rem;
  -webkit-box-shadow: 5px 0px 22px 0px rgba(0, 0, 0, 0.34);
          box-shadow: 5px 0px 22px 0px rgba(0, 0, 0, 0.34);
}
.header .sidenav ul {
  margin-top: 2.5rem;
}
.header .sidenav ul li {
  font-size: 25px;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  /* border: 1px red solid; */
}
.header .sidenav a {
  padding: 15px 8px 8px 25px;
  display: block;
  text-decoration: none;
  color: #111;
  font-size: 1.6rem;
}
.header .sidenav a:hover {
  color: #7c7c7c;
}
.header .sidenav .closebtn {
  position: absolute;
  top: 1rem;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#overlay-navbar {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(37, 37, 37, 0.307);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

#app {
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  /* padding: 16px; */
}

.main-content {
  padding-top: 10vh;
}

/* Slider - swiper */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Client Carousel Style */
.swiper-slide-client {
  margin: 1.5rem 0;
  /* max-width: 280px; */
  height: auto;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.swiper-slide-client img {
  width: 100%;
  max-width: 350px;
  height: auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  -webkit-transition: 0.4s background-color ease-out;
  transition: 0.4s background-color ease-out;
  border: 1px solid #dbdbdb;
}
.swiper-slide-client img:hover {
  /* box-shadow: var(--shadow-value); */
  background-color: #bcbcbc;
  -webkit-transition: 0.4s background-color ease-in;
  transition: 0.4s background-color ease-in;
}

/* Section Content */
.section-block {
  padding: 4.3rem 0px;
  background-color: #fff;
}

.section-block-grey {
  padding: 4.3rem 0;
  background-color: #f9f9f9;
}

.section-block-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 90px 0;
  -webkit-box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
          box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
}
.section-block-bg__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-block-bg__content span {
  color: #fff;
}
.section-block-bg__content h1 {
  color: #fff;
  font-size: 4rem;
}
.section-block-bg__content p {
  color: #fff;
  font-size: 2.8rem;
}

.section-block-carousel {
  padding: 1.3rem 0.5rem;
}

/* Content-Heading */
.section-heading {
  margin-bottom: 10px;
  text-align: center;
}
.section-heading span {
  position: relative;
  font-size: 2rem;
  font-weight: 500;
  line-height: 200%;
  margin-bottom: 10px;
}
.section-heading__light-title {
  color: #fff;
}
.section-heading__dark-title {
  color: #111;
}
.section-heading__primary-title {
  color: #9f224e;
}
.section-heading h2 {
  position: relative;
  font-size: 4rem;
  font-weight: 550;
  line-height: 130%;
  margin-bottom: 10px;
}
.section-heading p {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 160%;
  padding-top: 1rem;
  margin-bottom: 0px;
}
.section-heading h4 {
  position: relative;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 160%;
  margin-bottom: 10px;
}

.section-heading-line {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background: #9f224e;
  border-radius: 25%;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 5px;
}

.section-heading-line-left {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background: #9f224e;
  border-radius: 25%;
  margin-top: 15px;
  margin-bottom: 5px;
}

/* Box Number Content */
.number-box {
  text-align: center;
  padding: 20px;
  margin: 15px 0px;
  background: #fff;
  border-radius: 3px;
}
.number-box__line {
  content: "";
  border-bottom: 1px dashed #dbdbdb;
  width: 100%;
  margin: 20px auto;
}
.number-box__line::before {
  content: "";
  display: block;
  margin: auto;
  margin-bottom: -7.5px;
  height: 15px;
  width: 15px;
  border: 2px solid #9f224e;
  background: #fff;
  border-radius: 50%;
}
.number-box h3 {
  line-height: 1;
  font-size: 4rem;
  font-weight: 200;
}
.number-box h4 {
  font-size: 1.6rem;
  font-weight: 400;
}
.number-box p {
  font-size: 1.2rem;
  color: #7c7c7c;
}

/* Content block grey */
.content-text-grey p {
  color: #7c7c7c;
  font-size: 1.7rem;
  line-height: 200%;
  font-weight: 400;
  margin-bottom: 1rem;
}

.section-list-content li {
  list-style-type: none;
  font-size: 1.4rem;
  font-weight: 550;
  margin-top: 15px;
}
.section-list-content i {
  color: #9f224e;
  padding-right: 1rem;
}

/* Card Info */
.card-info {
  position: relative;
  background: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  overflow: hidden;
  margin: 15px 0px;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}
.card-info__inner {
  position: relative;
  padding: 20px;
}

/* Package Section */
.package-section-heading h3 {
  font-size: 2.6rem;
}

/* Card Package Price */
.card-package {
  text-align: center;
  border-radius: 10px;
  background: #fff;
  border: 2px solid #dbdbdb;
  padding: 30px 40px;
  margin: 20px 0px;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.card-package li {
  color: #7c7c7c;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 7px;
  list-style-type: none;
}
.card-package__price h4 {
  display: inline-block;
  color: #111;
  font-size: 4.2rem;
  font-weight: 400;
  letter-spacing: 2px;
}
.card-package__price span {
  display: inline-block;
  font-size: 1.3rem;
  color: #9f224e;
  font-weight: 500;
}
.card-package__button {
  background: #9f224e;
  margin: 1.2rem 1rem 0 1.2rem;
  border: 2px solid #9f224e;
  border-radius: 5px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  text-align: center;
}
.card-package__button a {
  display: block;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 8px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  text-decoration: none;
}

/* Mobile */
@media screen and (max-width: 739px) {
  .hide-on-mobile {
    display: none;
  }

  .header__logo {
    width: unset;
  }
}
/* Mobile & Tablet */
@media screen and (max-width: 1023px) {
  .hide-on-mobile-tablet {
    display: none;
  }

  .header {
    width: 100%;
    height: 10vh;
  }
}
/* Tablet */
@media screen and (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }
}
/* PC */
@media screen and (min-width: 1024px) {
  .hide-on-pc {
    display: none;
  }

  .header {
    -webkit-box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
            box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  }
  .header__logo {
    width: 100%;
    max-width: 30vw;
  }
  .header__logo img {
    width: 100%;
    max-width: 180px;
    height: auto;
  }
  .header .sidenav {
    position: static;
    height: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
    max-width: 70vw;
    background-color: #fff;
    padding: 0;
    margin: 0;
  }
  .header .sidenav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .header .sidenav .closebtn {
    display: none;
  }
  .header .sidenav a {
    font-weight: 550;
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  .header .sidenav a:hover {
    color: #9f224e;
  }

  .main-content {
    padding-top: 95px;
  }
  .main-content__slider {
    height: 100vh;
  }
  .main-content__slider img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/*# sourceMappingURL=index.css.map */