<!DOCTYPE html>
<html lang="vi">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keyword" content="">
	<meta property="og:url" content="https://haopham1705.github.io/business-web" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="business web" />
	<meta property="og:description" content="business web site, chuyên trang kinh doanh" />
	<meta property="og:image" content="" />
	<link rel="shortcut icon" href="images/vnexpress-e-logo.ico" type="image/x-icon">

	<title>
		<!-- build:title -->
	</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600,700,800,900">
	<!-- build:cssOnlyPage -->
	<link rel="preload" as="style" type="text/css" href="css/main-style.min.css">
	<link rel="stylesheet" href="css/main-style.min.css">
	<link rel="preload" as="script" type="text/javascript" href="js/bundle.min.js">
	<script type="text/javascript">
		var domReadyQueue = [];
	</script>
	<!-- build:headOnlyPage -->
</head>

<body class="oBusiness" id="body_area" data-height-small="false" itemscope itemtype="http://schema.org/WebPage">
	<div id="app">
		<div class="topbar hide-on-mobile">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-sm-9 col-12">
						<div class="topbar__info">
							<span>Welcome to Professional Consulting Agency</span>
							<span><i class="fas fa-phone"></i>(+84)8-5432-0001</span>
							<span><i class="fas fa-envelope"></i>vne.sale1@vnexpress.net</span>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-12">
						<ul class="topbar__social hidden-md-down">
							<li><a href="#"><i class="fab fa-facebook"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#"><i class="fab fa-pinterest"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- Header Navbar -->
		<header class="header">

			<div class="container header__navbar">
				<div class="header__logo">
					<a href="index.html" class="header__logo-link">
						<img src="images/vnexpress-business-logo.png" alt="redbiz img" class="header__logo-img">
					</a>
				</div>
				<nav id="mySidenav" class="sidenav">

					<a href="javascript:void(0)" class="closebtn" onclick="closeNav();">&times;</a>
					<ul class="sidenav__list" id="sidenav-list">
						<li class="sidenav__item">
							<a href="index.html">Home</a>
						</li>
						<li class="sidenav__item sidenav__dropdown">
							<a class="dropdown-btn" href="#">About<i class="fas fa-chevron-down"></i></a>
							<ul id="subnav" class="subnav">
								<li class="subnav__item"><a href="#">Subav item</a></li>
								<li class="subnav__item"><a href="#">Subav item</a></li>
								<li class="subnav__item"><a href="#">Subav item</a></li>
							</ul>
						</li>
						<li class="sidenav__item">
							<a href="blog.html">Blog</a>
						</li>
						<li class="sidenav__item sidenav__dropdown">
							<a class="dropdown-btn" href="#">Shop Grid<i class="fas fa-chevron-down"></i></a>
							<ul id="subnav" class="subnav">
								<li class="subnav__item"><a href="shop-grid-classic.html">Shop Grid Classic</a></li>
								<li class="subnav__item"><a href="shop-grid.html">Shop Grid</a></li>
							</ul>
						</li>
						<li class="sidenav__item">
							<a href="shop-single.html">Shop Single</a>
						</li>
						<li class="sidenav__item">
							<a href="shop-cart.html">Shop Cart</a>
						</li>
						<li class="sidenav__item">
							<a href="contact.html">Contact</a>
						</li>
					</ul>
				</nav>
			</div>
			<div onclick="closeNav()" id="overlay-navbar"></div>
			<span class="hide-on-pc" style="font-size:30px;cursor:pointer" onclick="openNav();">&#9776;</span>

		</header>

		<!-- Start popup menu -->

		<!-- End popup menu -->

		<!-- build:content -->

		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6 col-12">
						<h3 class="footer__title">About Us</h3>
						<div class="mt-20 footer__detail">
							<img class="footer__logo-img" src="images/vnexpress-business-white-color.png"
								alt="img footer">
							<p class="mt-30 footer__detail-text">Lorem ipsum dolor sit amet, consectetur adipiscing
								elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
								minim veniam.
							</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-12">
						<h3 class="footer__title">Quick Link</h3>
						<ul class="footer__list">
							<li class="footer__list-item"><i class="fas fa-chevron-right"></i><a href=""
									class="footer__list-link">Quick link item</a></li>
							<li class="footer__list-item"><i class="fas fa-chevron-right"></i><a href=""
									class="footer__list-link">Quick link item</a></li>
							<li class="footer__list-item"><i class="fas fa-chevron-right"></i><a href=""
									class="footer__list-link">Quick link item</a></li>
							<li class="footer__list-item"><i class="fas fa-chevron-right"></i><a href=""
									class="footer__list-link">Quick link item</a></li>
						</ul>
					</div>
					<div class="col-md-4 col-sm-6 col-12">
						<h3 class="footer__title">Recent Posts</h3>
						<ul class="footer__recent">
							<li class="footer__recent-item"><a href="" class="footer__recent-link">
									<img src="images/place/paris.jpg" alt="">
									<div class="recent-post">
										<span class="recent-post__date">11-11-2021</span>
										<a href="#" class="recent-post__text">Advices for young designers</a>
									</div>
								</a></li>
							<li class="footer__recent-item"><a href="" class="footer__recent-link">
									<img src="images/place/newyork.jpg" alt="">
									<div class="recent-post">
										<span class="recent-post__date">11-11-2021</span>
										<a href="#" class="recent-post__text">Advices for young designers</a>
									</div>
								</a></li>
							<li class="footer__recent-item"><a href="" class="footer__recent-link">
									<img src="images/place/sanfran.jpg" alt="">
									<div class="recent-post">
										<span class="recent-post__date">11-11-2021</span>
										<a href="#" class="recent-post__text">Advices for young designers</a>
									</div>
								</a></li>
						</ul>
					</div>
				</div>
				<div class="footer__bottom-bar">
					<p><span class="primary-color">Vnexpress</span> © 2021. All Rights Reserved.</p>
				</div>
			</div>
		</footer>

		<!-- <div class="scroll-to-top">
			<span class="btn-gotop" id="btn_gotop">
				<i class="fas fa-angle-up"></i>
			</span>
		</div> -->

		<!-- Start popup menu -->
		<!-- <aside class="aside_area" id="showNavSideMenu">
	</aside> -->
		<!-- End popup menu -->


		<!-- Start #wrap_popup_page - Group popup page - Globe -->
		<div class="wrap-popup-page" id="wrap_popup_page">

			<!-- build:popup -->

		</div>
		<!-- End #wrap_popup_page - Group popup page - Globe -->

	</div>
	<!-- <script defer src="js/bundle.min.js"></script> -->

	<script type="text/javascript" data-type="lazy" data-src="js/bundle.min.js"></script>
 
	<script type="text/javascript" data-type="lazy" data-src="js/bundle.min.js"></script>
	<script type="text/javascript" id="flying-scripts">
		const loadScriptsTimer = setTimeout(loadScripts, 2 * 1000);
		const userInteractionEvents = ["mouseover", "keydown", "touchstart", "touchmove", "wheel"];
		userInteractionEvents.forEach(function (event) {
			window.addEventListener(event, triggerScriptLoader, {
				passive: !0
			})
		});

		function triggerScriptLoader() {
			loadScripts();
			clearTimeout(loadScriptsTimer);
			userInteractionEvents.forEach(function (event) {
				window.removeEventListener(event, triggerScriptLoader, {
					passive: !0
				})
			})
		}

		function loadScripts() {
			document.querySelectorAll("script[data-type='lazy']").forEach(function (elem) {
				elem.setAttribute("src", elem.getAttribute("data-src"))
			});
		}
	</script>
	<!-- build:jsOnlyPage -->

</body>

</html>