<!DOCTYPE html>
<html lang="vi">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="refresh" content="1800">
	<meta name="format-detection" content="telephone=no">
	<meta name="robots" content="noodp,index, follow">
	<title><!-- build:title --></title>
	<meta name="description" content="">
	<meta name="keyword" content="">
	<link rel="shortcut icon" href="../images/favicon-16x16.png">
	
	<meta property="og:url"           content="https://fair.vnexpress.net/edu" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="Online Education Fair 2021" />
	<meta property="og:description"   content="Du học Canada đang trở nên ngày càng phổ biến trong lòng cộng đồng du học, nhờ vào nền giáo dục tiên tiến, chất lượng và hiện đại. Sinh viên quốc tế đến du học tại Canada không chỉ tích lũy được kiến thức, mà còn có cơ hội khám phá những thành phố nổi tiếng thế giới, với những khu rừng tuyết rơi dày và những người bản địa đam mê thể thao." />
	<meta property="og:image"         content="https://i-shop.vnecdn.net/images/2020/05/06/5eb27fdf645be-facebook-share.jpg" />

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

	<!-- build:cssOnlyPage -->

	<link rel="preload" as="style" type="text/css" href="css/styles-pc.min.css">
	<link rel="stylesheet" href="css/styles-pc.min.css">

	<link rel="preload" as="script" type="text/javascript" href="js/bundle.min.js">
	<script type="text/javascript">
		var domReadyQueue = [];
	</script>

	<!-- build:headOnlyPage -->
</head>
<body class="oFair" id="body_area" data-height-small="false" itemscope itemtype="http://schema.org/WebPage">

	

	<header class="header header-mb header-scroll">
		<div class="header-main">
			<div class="container clearfix">


				<div class="view-option-1">
					<div class="toggle-btn" data-toggle="modal" data-target="#showNavSideMenu">
						<span class="fal fa-bars"></span>
					</div>
					<div class="brand">
						<a class="logo" href="m.index.html" title="Online Education Fair 2020">
							<img src="images/education-fair-2021.svg" alt="Online Education Fair 2021">
						</a>
					</div>
				</div>




				<div class="view-option-2 hidden">
					<div class="toggle-btn" data-toggle="modal" data-target="#showNavSideMenu">
						<span class="fal fa-bars"></span>
					</div>
					<div class="brand">
						<a class="logo" href="m.index.html" title="Online Education Fair 2020">
							<img src="images/education-fair-2021.svg" alt="Online Education Fair 2021">
						</a>
					</div>

					<div class="box-user-login">
						<!-- Start user chưa đăng nhập -->
							<div class="user-not-logged-in">
								<span class="btn-sign-in">Đăng ký</span>
							</div>
						<!-- End user chưa đăng nhập -->

						<!-- Start user đã đăng nhập -->
							<!-- <div class="user-logged">
								<div class="user-name btn-dropdown-user" onclick="showDropdownUser();">
									<span class="avata">A</span>
									<span class="name-value">Anh Tuấn</span>
									<div class="dropdown-user" id="dropdown-user">
										<ul class="myvne_user_status">
											<li><a href="#" title="Tài khoản của tôi">Tài khoản của tôi</a></li>
											<li><a href="#" title="Hoạt động bình luận">Hoạt động bình luận</a></li>
											<li><a href="javascript:;" title="Thoát">Thoát</a></li>
										</ul>
									</div>
								</div>
								<div class="user-notify">
									<a href="" title="Bạn có 2 thông báo mới">
										<i class="fas fa-bell"></i>
										<span class="notify-number">2</span>
									</a>
								</div>
							</div> -->
						<!-- End user đã đăng nhập -->
					</div>

				</div>


			</div>
		</div>
	</header>

	<!-- Start popup menu -->
	<div id="showNavSideMenu" class="modal fade modal-nav-side-menu" role="dialog">
		<div class="modal-dialog">

			<nav class="nav-side-menu divFadeInLeft" id="nav-side-menu">
				<span class="btn-close-nav" data-dismiss="modal">
					<svg viewBox="0 0 40 40"><path d="M10,10 L30,30 M30,10 L10,30" /></svg>
				</span>
				<div class="menu-list">
					<nav>
						<ul>
							<li>
								<a class="active" href="index.html" title="">Trang chủ</a>
							</li>
							<li>
								<a href="about.html" title="">Giới thiệu</a>
							</li>
							<li>
								<a href="school-list.html" title="">Danh sách trường</a>
							</li>
							<li>
								<a href="news-list.html" title="">Tin tức</a>
							</li>
							<li>
								<a href="QA.html" title="">Hỏi đáp</a>
							</li>
							<li>
								<a href="contact.html" title="">Liên hệ</a>
							</li>
						</ul>
					</nav>
				</div>
			</nav>
		</div>
	</div>
	<!-- End popup menu -->


	<!-- build:content -->




	<footer class="footer clearfix">
			<div class="container clearfix">
				<div class="footer-inner clearfix">
					<div class="footer-left">
						<p>® VnExpress giữ bản quyền nội dung trên website này</p>
					</div>

					<div class="footer-right">
						<div class="wrap-txt-1">
							<p>email: <a href="" title=""><strong>onlineeducation@fair2020.net</strong></a></p>
						</div>
						<div class="wrap-txt-2">
							<div class="footer-socail">
								<div class="list-item-socail">
									<p><a href="https://www.facebook.com/sharer.php?u=http%3A%2F%2Ffair.vnexpress.net/edu" rel="nofollow" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=400')" title="Chia sẻ qua Facebook"><i class="fab fa-facebook-f"></i></a> <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Ffair.vnexpress.net/edu&amp;text=Online Education Fair 2021 - VnExpress" rel="nofollow" onclick="return !window.open(this.href, 'Twitter', 'width=640,height=400')" title="Chia sẻ qua Twitter"><i class="fab fa-twitter"></i></a></p>
								</div>
							</div>
						</div>					
					</div>

				</div>
			</div>
	</footer>

	
	<div class="scroll-to-top">
		<span class="btn-gotop" id="btn_gotop">
			<i class="fal fa-angle-up"></i>
		</span>
	</div>



	<!-- Start popup menu -->
	<!-- <aside class="aside_area" id="showNavSideMenu">
	</aside> -->
	<!-- End popup menu -->


	<!-- Start #wrap_popup_page - Group popup page - Globe -->
	<div class="wrap-popup-page" id="wrap_popup_page">
		<!-- build:popup -->

		<div class="modal modal-seminor fade" id="seminorModal" tabindex="-1" role="dialog" aria-labelledby="seminorModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Đăng ký tham gia hội thảo</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
							<p>Bạn vui lòng nhập đầy đủ thông tin bên dưới để đăng ký tham gia tư vấn</p>

							<form>
								<div class="form-group row">
									<label for="input_name" class="col-sm-4 col-form-label">Họ tên</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="input_name" required>
									</div>
								</div>
								<div class="form-group row">
									<label for="input_email" class="col-sm-4 col-form-label">Email</label>
									<div class="col-sm-8">
										<input type="email" class="form-control" id="input_email" required>
										<span class="help-block">Thông báo chưa hợp lệ</span>
									</div>
								</div>
								<div class="form-group row">
									<label for="input_phone" class="col-sm-4 col-form-label">Số điện thoại</label>
									<div class="col-sm-8">
										<input type="number" class="form-control" id="input_phone" required>
										<span class="help-block">Thông báo chưa hợp lệ</span>
									</div>
								</div>
								<div class="form-group row">
									<label for="input_sex" class="col-sm-4 col-form-label">Giới tính</label>
									<div class="col-sm-8">
										<select class="form-control" id="input_sex" required>
											<option>Nam</option>
											<option>Nữ</option>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<label for="input_yearold" class="col-sm-4 col-form-label">Năm sinh</label>
									<div class="col-sm-8">
										<select class="form-control" id="input_yearold" required>
											<option value="1990">1990</option>
											<option value="1991">1991</option>
											<option value="1992">1992</option>
											<option value="1993">1993</option>
											<option value="1994">1994</option>
											<option value="1995">1995</option>
											<option value="1996">1996</option>
											<option value="1997">1997</option>
											<option value="1998">1998</option>
											<option value="1999">1999</option>
											<option value="2000">2000</option>
											<option value="2001">2001</option>
											<option value="2002">2002</option>
											<option value="2003">2003</option>
											<option value="2004">2004</option>
											<option value="2005">2005</option>
											<option value="2006">2006</option>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-4 col-form-label"></label>
									<div class="col-sm-8">
										<button type="submit" class="btn btn-primary">Đăng ký</button>
									</div>
								</div>
							</form>


					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- End #wrap_popup_page - Group popup page - Globe -->


	<!-- <script defer src="js/bundle.min.js"></script> -->
	<script type="text/javascript" data-type="lazy" data-src="js/bundle.min.js"></script>
	<script type="text/javascript" id="flying-scripts">
		const loadScriptsTimer = setTimeout(loadScripts, 2 * 1000);
		const userInteractionEvents = ["mouseover", "keydown", "touchstart", "touchmove", "wheel"];
		userInteractionEvents.forEach(function(event) {
			window.addEventListener(event, triggerScriptLoader, {
				passive: !0
			})
		});

		function triggerScriptLoader() {
			loadScripts();
			clearTimeout(loadScriptsTimer);
			userInteractionEvents.forEach(function(event) {
				window.removeEventListener(event, triggerScriptLoader, {
					passive: !0
				})
			})
		}

		function loadScripts() {
			document.querySelectorAll("script[data-type='lazy']").forEach(function(elem) {
				elem.setAttribute("src", elem.getAttribute("data-src"))
			});
		}
	</script>

	<script type="text/javascript">
		domReadyQueue.push(function($){
			$("#video_live").lightGallery({
				selector: '.js_act_popup_video',
				thumbnail:true,
				animateThumb: false,
				showThumbByDefault: false,
				autoplayControls: false,
				download: false,
				zoom: false,
				youtubePlayerParams: {
					modestbranding: 1,
					showinfo: 0,
					rel: 0,
					controls: 1,
					autoplay: 1
				},
				share: false
			});
		});
	</script>
	<!-- build:jsOnlyPage -->


</body>
</html>